strong {
  color: #ff3300;
  font-size: 24px;
}

.projects {
}

.active {
  background-color: #ff3300 !important;
}
.skillsContain {
  height: 100vh;

  display: flex !important;
  flex-direction: row !important;
}

.degree {
  margin-top: 1em;
}

.awards {
  font-size: 10px;
}

.educationCard {
  padding: 0;
  width: 50%;
}

@media (max-width: 576px) {
  .w-75 {
    width: 100% !important;
  }

  .educationCard {
    width: 99%;
  }
}
